@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.nav-left {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-left: 10px;
}
.nav-left img {
  height: 30px;
  width: 30px;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  gap: 10px;
}
.nav-center a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
#exp {
  color: grey;
}
#exp:hover {
  border-radius: 20px;
  background: #F5F5F5;
  color: grey;
}
.nav-right {
  display: flex;
  gap: 5px;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}
.nav-right img {
  height: 20px;
  width: 20px;
}
.double-icons {
  height: 30px;
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 20px;
  border: 2px solid #F5F5F5;
  border-radius: 18px;
}
.double-icons:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-nav{
  display: none;
}
.navbar1{
  display: flex;
  gap: 10px;
  border: 1px solid rgba(199, 199, 199,0.7);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 70%;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.small-line{
  width: 1px;
  height: 40px;
  background-color: rgba(199, 199, 199,0.6);
}
.navbar11 p{
  font-size: 12px;
}
.navbar11 h3{
  font-size: 14px;
}
.navbar11-last p{
  font-size: 12px;
}
.navbar11-last h3{
  font-size: 14px;
}
.navbar11{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  background-color: none;
  border-radius: 40px;
  padding: 20px;
  padding-right: 60px;
  height: 10vh;

}
.navbar11:hover{
  background-color: #F5F5F5;
}
#nav-bar11{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-radius: 40px;
  padding: 20px 8px 20px 20px;
  
}
#nav-bar11:hover{
  background-color: #F5F5F5;
}
.navbar11-last{
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.search{
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-color: #ff385c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search img{
  height: 25px;
  width: 25px;
}
.navbar2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 8vh;
  width: 100%;
  font-size: 12px;
  border-top: 1px solid #F5F5F5;
  border-bottom:1px solid #F5F5F5; 
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0.7;
  overflow: hidden;
}
.nav2-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nav2-icon img{
  height: 25px;
  width: 25px;
}
.section1{
    display: grid;
    min-width: 60%;
    grid-template-columns: repeat(4,24vw);
    grid-template-rows: repeat(4,38vh);
    padding-left:1.5vw;
    justify-content: center;
}
.sec11{
    height: 30vh;
    width: 22vw;
}
.sec11 img{
    width: 100%;
    height: 70%;
    border-radius: 14px;
    margin-bottom: 10px;
}
.sec11 h3{
    font-size: 14px;
    line-height: 20px;
}
@media only screen and (min-width:1600px){
  
.section1{
    display: grid;
    min-width: 60%;
    grid-template-columns: repeat(6,15vw);
    grid-template-rows: repeat(6,42vh);
    padding-left:1.5vw;
    justify-content: center;
}
.sec11{
  height: 38vh;
  width: 14vw;
}
}
@media only screen and (min-width:300px) and (max-width:1000px){
  
  .section1{
      display: grid;
      min-width: 60%;
      grid-template-columns: repeat(3,30vw);
      grid-template-rows: repeat(3,38vh);
      padding-left:1.5vw;
      justify-content: center;
  }
  .sec11{
    height: 35vh;
    width: 28vw;
  }
  .sec11 h3{
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width:1140px) and (max-width:1599px) {
  .section1{
    display: grid;
    min-width: 60%;
    grid-template-columns: repeat(5,17vw);
    grid-template-rows: repeat(5,38vh);
    padding-left:1.5vw;
    justify-content: center;
}
.sec11{
  height: 30vh;
  width: 15vw;
}
.sec11 h3{
  font-size: 14px;
  line-height: 20px;
}

}
@media only screen and (max-width:946px) {
  .nav-left h2{
    display: none;
  }
  .navbar{
    margin: 25px 10px 25px 10px;
  }
  .nav-center{
    display: none;
  }
  .navbar2{
    height: 8vh;
    font-size: 10px;
    margin-top: 25px 0px 40px 0px;
    opacity: 1;
    overflow: hidden;
    gap: 15px;
  }
  .nav-left img {
    height: 25px;
    width: 25px;
  }
  .navbar1{
    display: none;
  }
  .search-nav{
    display: flex;
    width: 70%;
    justify-content: last baseline;
    gap: 15px;
    align-items: center;
    /* height: 5vh; */
    border: 2px solid #DEDEDE;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
  }
  .s-nav-search{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ff385c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .s-nav-search img{
    width: 25px;
    height: 25px;
  }

}
@media only screen and (min-width:360px) and (max-width:683px){
  .section1{
    display: grid;
    min-width: 60%;
    grid-template-columns: repeat(2,40vw);
    grid-template-rows: repeat(6,43vh);
    padding-left:2vw;
    justify-content: center;
}
.sec11{
  height: 35vh;
  width: 36vw;
}
.sec11 h3{
  font-size: 12px;
  line-height: 18px;
}

}
@media only screen and (min-width:50px) and (max-width:380px){
  .section1{
    display: grid;
    min-width: 60%;
    grid-template-columns: repeat(1,80vw);
    grid-template-rows: repeat(7,43vh);
    padding-left:2vw;
    justify-content: center;
    align-items: center;
}
.sec11{
  height: 35vh;
  width: 78vw;
}
.sec11 h3{
  font-size: 12px;
  line-height: 18px;
}

}